In [ ]:
#AND게이트 구현
#입력 x1과 입력 x2가 모두 참일 때 1을 출력한다

def AND(x1, x2):
  w1, w2, theta = 1, 1, 0
  value = w1*x1 + w2*x2
  if value <= theta:
   return 0
  elif value > theta:
   return 1

In [ ]:
print(AND(1,1))
print(AND(0,0))
print(AND(1,0))
print(AND(0,1))

1
0
1
1

In [ ]:
def OR(x1, x2):
  w1, w2, theta = 1, 1, 0 
  value = w1*x1 + w2*x2
  if value <= theta:
   return 0
  elif value > theta:
   return 1

In [ ]:
print(OR(1,1))
print(OR(0,0))
print(OR(1,0))
print(OR(0,1))

1
0
1
1